/* i{
    font-size: 20px;
} */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --primary-color: #000;
  --secoondary-color: #fff;
  --tetiary-color: #33ff33;
  --hover-color: #80ff80;
  --subtext-color: #737373;
}

/* Container-card */
.container {
  background-color: var(--primary-color);
  width: 30%;
  max-width: 100%;
  margin: 160px auto 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--primary-color);
}
/* Background-Image */
body {
  margin: 0;
  background-image: url(/images/dark-bg.jpg);
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* Text-Padding */
.header,
.text,
.btn,
.signup,
.settings {
  padding: 20px;
  text-align: center;
}

/* White color */
.header,
.text,
.link {
  color: var(--secoondary-color);
}

/* header */
.header {
  font-size: 40px;
}

/* T */
.T {
  font-size: 30px;
  padding: 5px;
}

/* Login Button */
.btnlogin {
  background-color: var(--tetiary-color);
  padding: 10px;
  border: none;
  width: 80%;
  border-radius: 10px;
  outline: none;
}

/* Login Button Hover */
.btnlogin:hover {
  background-color: var(--hover-color);
  transition: 0.5s;
}

/* sp-logo and txt */

#sp-logo,
.header {
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: center;
  flex-wrap: nowrap;
}

.acc,
a {
  color: var(--subtext-color);
  text-decoration: none;
}

/* Underline Animation for Settings */
.st {
  display: inline;
  position: relative;
  padding: 5px;
}

.st::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: var(--subtext-color);
  transition: transform 0.5s;
}

.st:hover::after {
  transform: scaleX(1);
}

.link:hover {
  color: var(--tetiary-color);
}
